{
  "openapi": "3.0.1",
  "info": {
    "title": "Stationsdatenbereitstellung",
    "description": "An API providing master data for German railway stations by DB Station&Service AG.",
    "version": "2.2.01"
  },
  "servers": [
    {
      "url": "https://api.deutschebahn.com/stada/v2"
    },
    {
      "url": "http://api.deutschebahn.com/stada/v2"
    }
  ],
  "paths": {
    "/stations": {
      "get": {
        "summary": "This operation provides the master data for german railway stations.",
        "description": "Get a QueryResult object containing station objects from the database applying to the parameters described below. \n\nQueryResult is a container providing the following information about the query result.\n  1. the total number of hits\n  2. the maximum number of hits to be returned in that QueryResult object\n  3. the offset of the first hit returned in that QueryResult object with respect to all hits returned by the query\n  4. the result objects\n  \nThe parameters described below work as filters to reduce the number of hits returned. Some of these parameters must be used only once, others are allowed to be used multiple times. Valid parameters that are allowed to be used only once are _offset_, _limit_ and _logicaloperator_. \n\nAll other parameters described below may be used multiple times.\n\nIf a parameter is given more than once, the result will contain all hits that match all given parameter values.\n\nE.g. _federalstate=berlin&federalstate=saarland_ returns all stations in Berlin and Saarland.\n\nIf more than one filter criterion is used at the same time, the different filter criteria are interpreted as if they are combined by a logical AND operator, unless the parameter _logicaloperator_ is set to _or_.\n\nE.g. _category=1-2&federalstate=hamburg_ returns all stations in Hamburg having category 1 or 2.\n\n_category=1-2&federalstate=hamburg&federalsate=hessen_ returns all stations in Hamburg and Hessen having category 1 or 2, while\n\n_searchstring=berlin*&federalstate=hamburg&federalsate=hessen&logicaloperator=or_ will return all stations with a name starting with 'berlin' as well as all stations in Hamburg and Hessen.\n\nIf no 'limit' parameter is given, the number of hits (stations) is set to its maximum value of 10000.\n\nTo specify parameter values containing German umlauts, the following encoding has to be used\n  * ä  => %C3%A4\n  * ö  => %C3%B6\n  * ü  => %C3%BC\n  * Ä  => %C3%84\n  * Ö  => %C3%96\n  * Ü  => %C3%9C\n  * ß  => %C3%9F\n",
        "parameters": [
          {
            "name": "offset",
            "in": "query",
            "description": "Offset of the first hit returned in the QueryResult object with respect to all hits returned by the query. If this parameter is omitted, it will be set to 0 internally.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of hits to be returned by that query. If 'limit' is set greater than 10000, it will be reset to 10000 internally and only 10000 hits will be returned.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "searchstring",
            "in": "query",
            "description": "String to search for a station name. The wildcards * (indicating an arbitrary number of characters) and ? (indicating one single character) can be used in the search pattern. A comma separated list of station names is also supported (e.g. searchstring=hamburg*,berlin*).",
            "schema": {
              "type": "string",
              "format": "string"
            }
          },
          {
            "name": "category",
            "in": "query",
            "description": "Filter by station category. Category ranges are supported as well as lists of categories (e.g. category=2-4 or category=1,3-5). The category must be between 1 and 7 otherwise a parameter exception is returned.",
            "schema": {
              "type": "string",
              "format": "string"
            }
          },
          {
            "name": "federalstate",
            "in": "query",
            "description": "Filter by German federal state. Lists of federal states are also supported (e.g. federalstate=bayern,hamburg). Wildcards are not allowed here.",
            "schema": {
              "type": "string",
              "format": "string"
            }
          },
          {
            "name": "eva",
            "in": "query",
            "description": "Filter by EVA number. Wildcards are not allowed here.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "ril",
            "in": "query",
            "description": "Filter by Ril100-identifier. Wildcards are not allowed here.",
            "schema": {
              "type": "string",
              "format": "string"
            }
          },
          {
            "name": "logicaloperator",
            "in": "query",
            "description": "Logical operator to combine query parameters (default=AND). See above for further details.  Allowed values: or, and",
            "schema": {
              "type": "string",
              "format": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "station data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StationQuery"
                }
              }
            }
          },
          "400": {
            "description": "bad request (illegal parameter or illegal parameter value)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/stations/{id}": {
      "get": {
        "summary": "This operation provides the master data for a german railway station selected by its station-id.",
        "description": "Get a QueryResult object containing one station object specified by its id.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Station ID (Bahnhofsnummer)",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "station data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StationQuery"
                }
              }
            }
          },
          "400": {
            "description": "bad request (illegal parameter or illegal parameter value)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/szentralen": {
      "get": {
        "summary": "This operation provides the master data for 3-S-Zentralen.",
        "description": "Get a QueryResult object containing SZentralen objects from the database applying to the parameters described below. \nQueryResult is a container providing the following information about the query result.\n  1. the total number of hits\n  2. the maximum number of hits to be returned in that QueryResult object\n  3. the offset of the first hit returned in that QueryResult object with respect to all hits returned by the query\n  4. the result objects\n",
        "parameters": [
          {
            "name": "offset",
            "in": "query",
            "description": "Offset of the first hit returned in the QueryResult object with respect to all hits returned by the query. If this parameter is omitted, it will be set to 0 internally.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of hits to be returned by that query. If 'limit' is set greater than 10000, it will be reset to 10000 internally and only 100 hits will be returned.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "3-S-Zentralen data",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SZentraleQuery"
                }
              }
            }
          },
          "400": {
            "description": "bad request (illegal parameter or illegal parameter value)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "not found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "internal server error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/szentralen/{id}": {
      "get": {
        "summary": "This operation provides the master data for 3-S-Zentralen select by its id.",
        "description": "Get a QueryResult object containing one SZentralen object specified by its id. ",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id of the 3-S-Zentrale.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "3-S-Zentralen data",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SZentraleQuery"
                }
              }
            }
          },
          "400": {
            "description": "bad request (illegal parameter or illegal parameter value)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "not found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "internal server error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "Unlimited"
      }
    }
  },
  "components": {
    "schemas": {
      "StationQuery": {
        "type": "object",
        "properties": {
          "offset": {
            "type": "integer",
            "description": "offset of the first result object with respect to the total number  of hits produced by the query",
            "format": "int64"
          },
          "limit": {
            "type": "integer",
            "description": "maximum number of result objects to be returned",
            "format": "int64"
          },
          "total": {
            "type": "integer",
            "description": "total number of hits produced by that query",
            "format": "int64"
          },
          "result": {
            "type": "array",
            "description": "result objects produced by that query",
            "items": {
              "$ref": "#/components/schemas/Station"
            }
          }
        }
      },
      "SZentraleQuery": {
        "type": "object",
        "properties": {
          "offset": {
            "type": "integer",
            "description": "offset of the first result object with respect to the total number of  hits produced by the query",
            "format": "int64"
          },
          "limit": {
            "type": "integer",
            "description": "maximum number of result objects to be returned",
            "format": "int64"
          },
          "total": {
            "type": "integer",
            "description": "total number of hits produced by that query",
            "format": "int64"
          },
          "result": {
            "type": "array",
            "description": "result objects produced by that query",
            "items": {
              "$ref": "#/components/schemas/SZentrale"
            }
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "errNo": {
            "type": "integer",
            "description": "error number",
            "format": "int32"
          },
          "errMsg": {
            "type": "string",
            "description": "error message"
          }
        }
      },
      "Station": {
        "type": "object",
        "properties": {
          "number": {
            "type": "integer",
            "description": "unique identifier representing a specific railway station",
            "format": "int32"
          },
          "name": {
            "type": "string",
            "description": "the stations name"
          },
          "mailingAdress": {
            "$ref": "#/components/schemas/Address"
          },
          "category": {
            "type": "integer",
            "description": "the stations category (-1...7). Stations with category -1 or 0 are not in production, e.g. planned, saled, without train stops.",
            "format": "int32"
          },
          "priceCategory": {
            "type": "integer",
            "description": "determines in some respect the price for train stops at a specific station (1..7)",
            "format": "int32"
          },
          "federalState": {
            "type": "string",
            "description": "german federal state"
          },
          "hasParking": {
            "type": "boolean",
            "description": "public parking y/n"
          },
          "hasBicycleParking": {
            "type": "boolean",
            "description": "public bicycle parking y/n"
          },
          "hasPublicFacilities": {
            "type": "boolean",
            "description": "public facilities y/n"
          },
          "hasLockerSystem": {
            "type": "boolean",
            "description": "public facilities y/n"
          },
          "hasLocalPublicTransport": {
            "type": "boolean",
            "description": "local public transport y/n"
          },
          "hasTaxiRank": {
            "type": "boolean",
            "description": "taxi rank in front of the station y/n"
          },
          "hasTravelNecessities": {
            "type": "boolean",
            "description": "a shop for travel necessities y/n"
          },
          "hasSteplessAccess": {
            "$ref": "#/components/schemas/Partial"
          },
          "hasMobilityService": {
            "type": "string",
            "description": "values are 'no', 'yes, advance notification is requested...' or 'yes, advance notification is required...'"
          },
          "hasWiFi": {
            "type": "boolean",
            "description": "public Wi-Fi is available y/n"
          },
          "hasTravelCenter": {
            "type": "boolean",
            "description": "local travel center y/n"
          },
          "hasRailwayMission": {
            "type": "boolean",
            "description": "railway mission y/n"
          },
          "hasDBLounge": {
            "type": "boolean",
            "description": "DB lounge y/n"
          },
          "hasLostAndFound": {
            "type": "boolean",
            "description": "lost and found y/n"
          },
          "hasCarRental": {
            "type": "boolean",
            "description": "car sharing or car rental y/n"
          },
          "evaNumbers": {
            "type": "array",
            "description": "station related EVA-Numbers",
            "items": {
              "$ref": "#/components/schemas/EVANumber"
            }
          },
          "riL100Identifiers": {
            "type": "array",
            "description": "station related Ril100s",
            "items": {
              "$ref": "#/components/schemas/RiL100Identifier"
            }
          },
          "timetableOffice": {
            "$ref": "#/components/schemas/TimetableOffice"
          },
          "stationManagement": {
            "$ref": "#/components/schemas/StationManagementRef"
          },
          "localServiceStaff": {
            "$ref": "#/components/schemas/Schedule"
          },
          "DBinformation": {
            "$ref": "#/components/schemas/Schedule"
          },
          "regionalbereich": {
            "$ref": "#/components/schemas/RegionalBereichRef"
          },
          "szentrale": {
            "$ref": "#/components/schemas/SZentraleRef"
          },
          "aufgabentraeger": {
            "$ref": "#/components/schemas/Aufgabentraeger"
          }
        }
      },
      "EVANumber": {
        "type": "object",
        "properties": {
          "number": {
            "type": "integer",
            "description": "EVA identifier"
          },
          "isMain": {
            "type": "boolean",
            "description": "station related EVA-Numbers"
          },
          "geographicCoordinate": {
            "$ref": "#/components/schemas/GeographicPoint"
          }
        }
      },
      "SZentraleRef": {
        "type": "object",
        "properties": {
          "number": {
            "type": "integer",
            "description": "unique identifier for SZentrale",
            "format": "int32"
          },
          "name": {
            "type": "string",
            "description": "unique identifier of 3SZentrale"
          },
          "publicPhoneNumber": {
            "type": "string"
          }
        },
        "description": "reference object contained in station"
      },
      "SZentrale": {
        "type": "object",
        "properties": {
          "number": {
            "type": "integer",
            "description": "unique identifier for SZentrale",
            "format": "int32"
          },
          "name": {
            "type": "string",
            "description": "unique identifier of 3SZentrale"
          },
          "publicPhoneNumber": {
            "type": "string"
          },
          "address": {
            "$ref": "#/components/schemas/Address"
          },
          "publicFaxNumber": {
            "type": "string",
            "description": "public fax number"
          },
          "internalPhoneNumber": {
            "type": "string",
            "description": "internal phone number"
          },
          "internalFaxNumber": {
            "type": "string",
            "description": "internal fax number"
          },
          "mobilePhoneNumber": {
            "type": "string",
            "description": "mobile phone number (no longer supported!)"
          },
          "email": {
            "type": "string",
            "description": "email adress of the 3-S-Zentrale (no longer supported!)"
          }
        },
        "description": "3-S-Zentralen are 7/24 hours operating centers for german railway stations"
      },
      "Address": {
        "type": "object",
        "properties": {
          "street": {
            "type": "string"
          },
          "houseNumber": {
            "type": "string"
          },
          "zipcode": {
            "type": "integer"
          },
          "city": {
            "type": "string"
          }
        }
      },
      "TimetableOffice": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "identifier"
          },
          "email": {
            "type": "string",
            "description": "email"
          }
        }
      },
      "StationManagementRef": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "number": {
            "type": "integer",
            "description": "identifier"
          }
        }
      },
      "StationManagement": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "number": {
            "type": "integer",
            "description": "identifier"
          }
        }
      },
      "GeographicPoint": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "the type of the GEOJSON Object e.g. point. Currently only point coordinates without altitude are provided."
          },
          "coordinates": {
            "type": "array",
            "description": "first value is longitude, second latitude third altitude (currently not provided)",
            "items": {
              "type": "number",
              "format": "double"
            }
          }
        },
        "description": "GEOJSON object of type point. By default WGS84 is the coordinate system in GEOJSON."
      },
      "RiL100Identifier": {
        "type": "object",
        "properties": {
          "rilIdentifier": {
            "type": "string",
            "description": "Unique identifier of 'Betriebsstelle' according to Ril100"
          },
          "isMain": {
            "type": "boolean",
            "description": "is stations main Ril100. Determination of Station&Service AG"
          },
          "hasSteamPermission": {
            "type": "boolean",
            "description": "permission for steam engines y/n"
          },
          "geographicCoordinate": {
            "$ref": "#/components/schemas/GeographicPoint"
          }
        }
      },
      "OpeningHours": {
        "type": "object",
        "properties": {
          "fromTime": {
            "type": "string",
            "format": "date"
          },
          "toTime": {
            "type": "string",
            "format": "date"
          }
        },
        "description": "period of time from/to"
      },
      "Schedule": {
        "type": "object",
        "properties": {
          "monday": {
            "$ref": "#/components/schemas/OpeningHours"
          },
          "tuesday": {
            "$ref": "#/components/schemas/OpeningHours"
          },
          "wednesday": {
            "$ref": "#/components/schemas/OpeningHours"
          },
          "thursday": {
            "$ref": "#/components/schemas/OpeningHours"
          },
          "friday": {
            "$ref": "#/components/schemas/OpeningHours"
          },
          "saturday": {
            "$ref": "#/components/schemas/OpeningHours"
          },
          "sunday": {
            "$ref": "#/components/schemas/OpeningHours"
          },
          "holiday": {
            "$ref": "#/components/schemas/OpeningHours"
          }
        },
        "description": "a weekly schedule"
      },
      "RegionalBereichRef": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "name of the regional department"
          },
          "shortName": {
            "type": "string"
          },
          "number": {
            "type": "integer",
            "description": "unique identifier of the regional department",
            "format": "int32"
          }
        },
        "description": "reference object. an internal organization type of Station&Service, regional department."
      },
      "Regionalbereich": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "name of the regional department"
          },
          "shortName": {
            "type": "string"
          },
          "number": {
            "type": "integer",
            "description": "unique identifier of the regional department",
            "format": "int32"
          }
        },
        "description": "reference object. an internal organization type of Station&Service, regional department."
      },
      "Aufgabentraeger": {
        "type": "object",
        "properties": {
          "shortname": {
            "type": "string",
            "description": "unique identifier"
          },
          "name": {
            "type": "string",
            "description": "full name of Aufgabentraeger"
          }
        },
        "description": "local public sector entity, responsible for short distance public transport in a specific area"
      },
      "Partial": {
        "type": "string",
        "enum": [
          "yes",
          "no",
          "partial"
        ]
      }
    }
  }
}